<div class="header">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header col-sm-4">
        <a class="navbar-brand" href="/">Our Ruby promotion</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <span class="navbar-brand">
            <%= current_user.email %>
            <% if current_user.profile && current_user.profile.firstname && current_user.profile.lastname %>
              <%= current_user.profile.firstname[0] %> <%= current_user.profile.lastname[1] %>
            <% end %>
          </span>
          <li><%= link_to "sign_out", destroy_user_session_path,  :method => :delete, class: "btn btn-info link_black" %></li>
          <li><%= link_to 'admin',    admin_users_path,      class: "btn btn-info link_black" %></li>
        <% else %>
          <li><%= link_to 'sign_in',  new_user_session_path,      class: "btn btn-default link_black" %></li>
          <li><%= link_to 'sign_up',  new_user_registration_path, class: "btn btn-default link_black" %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>

